* 
{
    padding: 0;
    margin: 0;
}
body {

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
header
{
background-color: #0a2342;
width: 100%;
height:150px;


}
header .menu
{
    display: flex;
    padding: 10px 10px;
    position: relative;
    background: gray;
    color: white;
    width: 50%;
    margin-left:45%;
    top: -130px;

}
header .menu .submenu 
{
    width: 100px;
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    height: 40%;
}
header .menu .submenu:hover 
{
    background: lightblue;
    border-radius: 10px;
}
.navbar {
   
    display: flex;
    margin-left: 26%;
    background-color: #c9de0e;
    padding: 5px 5px;
    width: 70%;
    margin-top: -10%;
    
}
.lago img
{
    position: relative;
    width: 30%;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 18px;
    margin-left: 10px;
}

.mainly-body-container
{
  height: 520px;
  width: 100%;
  background-image: url("../images/background.jpeg");
  display: flex;
  
}
.submainly-container
{
    height: 100%;
    width: 50%;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;

}
.submenu-header h1
{
   font-size: 20px;
   color: gray;
}
.submenu-detail p 
{
    width: 270px;
    font-size: 34px;
    text-align: center;
    margin-left: 100px;
    color: #052c5b;
    font-weight: bold;
}
.lineheader
{
    width: 100px;
    height: 10px;
    background: #c9de0e;
    border: 1px solid #c9de0e;
    text-align: center;
    justify-content: center;
    margin-left: 100px;
    margin-top: 10px;
}
.readmore 
{
    height: 50px;
    width: 100px;
   left: 70%;
    position: relative;
    top: 50px;
}
.submenu-imige img
{
    height: 520px;
    width: 100%;
   
}

.submainly-body2
{
    height: 600px;
    width: 100%;
    color:black;
    display: flex;
    

}
.div-submainly
{
   height: 80%;
   width: 80%;
   border: 1px solid black;
   margin-top: 50px;
}
.container-all h1 
{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    color: #8a9cb1;
}
.container-all h2 
{
    font-size: 25px;
    color: #8a9cb1;
    margin-left: 220px;
    margin-top: 10px;
    text-align: start;
}
.div-submainly img 
{
    height: 60%;
    width: 90%;  
}
.div-submainly1
{
   height: 80%;
   width: 100%;
   border: 1px solid black;
   margin-top: 100px;
}
.div-sub1
{
height: 150px;
width: 80%;
color: #6b737e;
margin-top: 30px;
padding: 10px 10px;
justify-content: center;
text-align: center;
font-size: 25px;
margin-left: 65px;
}
.div-sub1:hover 
{
    background: gray;
    transition: 2s ;
}
.opputunity-conatainer
{
    border: 1px solid red;
    height: 400%;
    width: 100%;
    background: #0a2342;
    color: white;
    margin-top: 50px;
    
}
.opputunity-container-box
{
    height: 50%;
    width: 100%;
   
   
}
.opputunity-container-box .div-submainly img
{
   height: 110%;
   width: 100%;
   margin-top: -100px;
}
.opputunity-container-box .div-submainly1 
{
   height: 80%;
   width: 80%;
  
   margin-top: 4px; 
}
.researchAT 
{
    height: 15%;
    width: 200px;
    margin-left: 60%;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    background: #0a2342;
    color: white;
}
.researchAT:hover 
{
    background: #052c5b;
    transition: 2s;
    cursor: pointer;
}